<div id="smile-rating">
	
</div>

<form ng-submit="addRating()">
	<select class="form-control boss-rater" ng-model="value">
		<option value="" selected disabled>Your boss is currently...</option>
		<option value="5">Super Pleasant</option>
		<option value="4">Generally Upbeat</option>
		<option value="3">Kind Of Neutral</option>
		<option value="2">A Little Testy</option>
		<option value="1">Pretty Grumpy</option>
		<option value="0">KILL IT WITH FIRE</option>
	</select>

	<button class="btn update">Post Update</button>

</form>